<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
  <a class="navbar-brand" href="/login/success">Iwaseport</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/cinemas">Cinemas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/trends">Trends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bookmark">BookMark</a>
      </li>
    </ul>
    <form method="POST" action="/logout" class="form-inline my-2 my-lg-0">
      <input
        type="submit"
        class="btn btn btn-primary my-2 my-sm-0"
        value="ログアウト"
      />
    </form>
  </div>
  <script src="/public/jquery/jquery.slim.min.js"></script>
  <script src="/public/bootstrap/js/bootstrap.min.js"></script>
  <script src="node_modules/poppr.js/dist/umd/popper.min.js"></script>
</nav>
